# ------------------------------------------------------------
# NookMesh Recorder credentials
# ------------------------------------------------------------

OTR_HOST=your_host.com
OTR_USER=your_user_recorder
OTR_PASS=your_password_recorder